
body {
    font-family: 'Roboto', sans-serif, 'Times New Roman';
    height: 100vh;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 20px;
}

/*  Header   */

.header {
    background-color: #1f2937;
    color: white;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

#header-logo a {
    font-size: 24px;
    color: #f9faf8;
}

.nav-link a {
    font-size: 18px;
    color: #e5e7eb;
}

.header-container img {
    width: auto;
    height: 300px;
}

#header-button {
    border: none;
}

/*  Cards section   */

.cards-section h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.cards-section img {
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.cards-section .container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 50px 300px 200px;
}

.image-details {
    text-align: center;
}

/*  Quote   */

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 50px 300px;
}

.quote h4 {
    text-align: right;
    font-size: 24px;
    padding-right: 20px;
}

.quote p {
    font-style: italic;
    font-size: 36px;
}

/*  Newsletter   */

.newsletter {
    background-color: #3882F6;
    margin: 50px 100px;
    border-radius: 10px;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.newsletter-content h4 {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.newsletter-content p {
    margin: 0;
}

#newsletter-button {
    border-color: white;
}

/*  Footer   */

.footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    padding: 1em;
}
